.assignment-progress-dark div {
  border-color: var(--assignment-border) !important;
}

.assignment-progress-dark .react-grid-Container,
.assignment-progress-dark .react-grid-Main {
  outline-color: var(--assignment-outline);
}

.assignment-progress-dark .react-grid-Canvas {
  background-color: var(--assignment-canvas);
}

.assignment-progress-dark .react-grid-Header,
.assignment-progress-dark .react-grid-HeaderCell {
  background-color: var(--assignment-header);
}

.assignment-progress-dark .react-grid-Row div[value] {
  background-color: var(--assignment-row);
}
.assignment-progress-dark .react-grid-Row:hover div[value] {
  background-color: var(--assignment-row-hover);
}
.assignment-progress-light .react-grid-Row div[value='✓'] {
  background-color: var(--assignment-ok) !important;
}
.assignment-progress-light .react-grid-Row:hover div[value='✓'] {
  background-color: var(--assignment-ok-hover) !important;
}
.assignment-progress-dark .react-grid-Row div[value='✓'] {
  background-color: var(--assignment-ok) !important;
}
.assignment-progress-dark .react-grid-Row:hover div[value='✓'] {
  background-color: var(--assignment-ok-hover) !important;
}

.assignment-progress-light .react-grid-Row div[value='IP'] {
  background-color: var(--assignment-ip) !important;
}
.assignment-progress-light .react-grid-Row:hover div[value='IP'] {
  background-color: var(--assignment-ip-hover) !important;
}
.assignment-progress-dark .react-grid-Row div[value='IP'] {
  background-color: var(--assignment-ip) !important;
}
.assignment-progress-dark .react-grid-Row:hover div[value='IP'] {
  background-color: var(--assignment-ip-hover) !important;
}

.assignment-progress-light .react-grid-Row div[value='-'],
.assignment-progress-light .react-grid-Row div[value='--'] {
  background-color: var(--assignment-dash) !important;
}
.assignment-progress-light .react-grid-Row:hover div[value='-'],
.assignment-progress-light .react-grid-Row:hover div[value='--'] {
  background-color: var(--assignment-dash-hover) !important;
}
.assignment-progress-dark .react-grid-Row div[value='-'],
.assignment-progress-dark .react-grid-Row div[value='--'] {
  background-color: var(--assignment-dash) !important;
}
.assignment-progress-dark .react-grid-Row:hover div[value='-'],
.assignment-progress-dark .react-grid-Row:hover div[value='--'] {
  background-color: var(--assignment-dash-hover) !important;
}
